<div class="containet" id="tabela">
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Curso</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Analise e Desenvolvimento de Sistemas</td>
      </tr>
      <tr>
        <td>Eventos</td>
      </tr>
      <tr>
        <td>Gestão Comercial</td>
      </tr>
      <tr>
        <td>Recursos Humanos</td>
      </tr>
      <tr>
        <td>Gestão Empresarial</td>
      </tr>
    </tbody>
  </table>
</div>
